/*  Estilos de la P2*/
.clsComputadora {
    width: 100px;
    height: 100px;
    cursor: pointer; 
    }

.clsSeparador {
    margin: 20px;
}

/* Estilos de la P3 */
img {
    width: 100px;
    height: 100px;
    margin-right: 10px; 
    cursor: pointer;
}

.clsOculto {
    display: none;
}

.clsFila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de la P4 */
.pc-container {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.pc-info-card {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

#totals {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.pc-info-card {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

.fila .pc-container {
    margin: 5px;
}


/*Estilos de la practica 6*/
.contenedor-izquierda {
    float: left;
    width: 50%;
}

.contenedor-derecha {
    float: right;
    width: 50%;
}

.mesa {
    position: relative;
    width: 350px;
    height: 200px;
    border: 1px solid white;
    margin: 10px;
}

.mesa img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
}

.contenedor{
    margin: 0 auto;
    width: 30%;
    height: 36px;
    border-radius: 8px;
}

.contenedorPc{
    margin: 8px 8px;
    padding: 14px 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
}

